<%- include('partials/nav') %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <!img src="./main_image.jpg" alt="" width="100%" height="70%">

  <div width="100%" height="70%" style="margin: 0 16px 16px 16px;">
    <img src="./main_image.jpg" class="img" width="100%" style="z-index: 0;" padding="16px">
    <p class="carousel-caption" style="z-index:1; font-size:4.2em; margin-top: -100px;">HAVE A BLAST!!!<br><br></p>
    <p class="carousel-caption" style="z-index:1; font-size:2.0em; margin-top: -100px;">Get the pass...</p>
  </div>
    

  <div class="container-fluid" ">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm edit">
          <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <img src="./india vs australia.jpg_large" width="100%" height="400" alt="">
          </svg>
          <div class="card-body edit">
            <p class="card-text">India vs Australia<br>Oct 8, 2023 <br>Chepauk Stadium, Chennai</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <a href="/Form">  <button type="button" class="btn btn-sm btn-outline-secondary">Book</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm edit">
          <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <img src="./arijit.jpeg" width="100%" height="400" alt="">
          </svg>
          <div class="card-body edit">
            <p class="card-text">Arijit Singh<br>Oct 13, 2023 <br>Divine stage, Indore</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/Form">  <button type="button" class="btn btn-sm btn-outline-secondary">Book</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm edit">
          <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <img src="./be-a-bassi-3.webp" width="100%" height="400" alt="">
          </svg>
          <div class="card-body edit">
            <p class="card-text">Anubhav Singh Bassi<br>Oct 19, 2023 <br>The laugh club, Chandigarh</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/Form">  <button type="button" class="btn btn-sm btn-outline-secondary">Book</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm edit">
          <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <img src="./the_nun.webp" width="100%" height="400" alt="">
          </svg>
          <div class="card-body edit">
            <p class="card-text">The Nun II<br>Till Oct 27, 2023 <br>PVR, Surya Treasure Bhilai</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/Form">  <button type="button" class="btn btn-sm btn-outline-secondary">Book</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="card shadow-sm edit">
          <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <img src="./weekend_comedy_dose.avif" width="100%" height="400" alt="">
          </svg>
          <div class="card-body edit">
            <p class="card-text">Weekend Comedy Dose<br>Oct 22, 2023 <br>The heritage, Noida</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/Form">  <button type="button" class="btn btn-sm btn-outline-secondary">Book</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm edit">
          <svg class="bd-placeholder-img card-img-top" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <img src="./rahgir.avif" width="100%" height="400" alt="">
          </svg>
          <div class="card-body edit">
            <p class="card-text">Rahgir<br>Oct 22, 2023 <br>The Regal House, Jaipur</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/Form">  <button type="button" class="btn btn-sm btn-outline-secondary">Book</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
